<div id="structure_requirements" class="min-w-full pt-4">
  <div class="flex justify-between items-center">
    <h2 class="font-bold text-4xl">Structure requirements</h1>
    <%= link_to "New structure requirement", new_admin_structure_requirement_path, class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium" %>
  </div>
  <table class="border-collapse w-full border border-slate-500 bg-slate-800 text-sm shadow-sm">
    <thead>
      <tr>
        <% %w[required_structure required_level action].each do |column| %>
          <th class="w-1/2 border border-slate-600 font-semibold p-4 text-slate-200 text-left">
            <%= t(".#{column}") %>
          </th>
        <% end %>
      </tr>
    </thead>
    <tbody>
    <% structure_requirements.each do |structure_requirement| %>
      <tr>
        <td class="border border-slate-700 p-4 text-slate-400">
          <%= structure_requirement.required_structure.name %>
        </td>
        <td class="border border-slate-700 p-4 text-slate-400">
          <%= structure_requirement.required_level%>
        </td>
        <td class="border border-slate-700 p-4 text-slate-400 flex">
          <%= link_to "Show", admin_structure_requirement_path(structure_requirement), class: "rounded-lg py-1 px-2 inline-block font-medium" %>
          <%= link_to "Edit", edit_admin_structure_requirement_path(structure_requirement), class: "rounded-lg py-1 ml-2 px-2 inline-block font-medium" %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
