<div id="structure_formulas">
  <div class="grid">
    <h2>Structure Formulas</h1>
    <%= link_to "New structure formula", new_admin_structure_formula_path, class: %w[text-right] %>
  </div>
  <table>
    <thead>
      <tr>
        <% %w[category resource formula arguments action].each do |column| %>
          <th>
            <%= t(".#{column}") %>
          </th>
        <% end %>
      </tr>
    </thead>
    <tbody>
    <% structure_formulas.each do |structure_formula| %>
      <tr>
        <td>
          <%= structure_formula.category %>
        </td>
        <td>
          <%= structure_formula.resource.name if structure_formula.resource.present? %>
        </td>
        <td>
          <%= structure_formula.formula %>
        </td>
        <td>
          <%= structure_formula.arguments.to_s %>
        </td>
        <td>
          <%= link_to "Show", admin_structure_formula_path(structure_formula) %>
          <%= link_to "Edit", edit_admin_structure_formula_path(structure_formula) %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
