<div id="structure_level_details">
  <div class="grid">
    <h2>Structure level detail</h1>
    <%= link_to "New structure level detail", new_admin_structure_level_detail_path, class: %w[text-right] %>
  </div>
  <table>
    <thead>
      <tr>
        <% %w[level description action].each do |column| %>
          <th>
            <%= t(".#{column}") %>
          </th>
        <% end %>
      </tr>
    </thead>
    <tbody>
    <% structure_level_details.each do |structure_level_detail| %>
      <tr>
        <td>
          <%= structure_level_detail.level%>
        </td>
        <td>
          <%= structure_level_detail.description %>
        </td>
        <td>
          <%= link_to "Show", admin_structure_level_detail_path(structure_level_detail) %>
          <%= link_to "Edit", edit_admin_structure_level_detail_path(structure_level_detail) %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
