<div id="<%= dom_id structure %>">
  <p>
    <%= t('.name', name: structure.name).html_safe %>
  </p>
  <p>
    <%= t('.description', description: structure.description).html_safe %>
  </p>
  <p>
    <%= t('.season', season: structure.season&.name).html_safe %>
  </p>
  <% if structure.icon.attached? %>
    <p>
      <img src="<%= url_for(structure.icon) %>"/>
    </p>
  <% end %>
</div>
