<div id="structure_requirements">
  <div class="grid">
    <h2>Structure requirements</h1>
    <%= link_to "New structure requirement", new_admin_structure_requirement_path, class: %w[text-right] %>
  </div>
  <table>
    <thead>
      <tr>
        <% %w[required_structure required_level restriction action].each do |column| %>
          <th>
            <%= t(".#{column}") %>
          </th>
        <% end %>
      </tr>
    </thead>
    <tbody>
    <% structure_requirements.each do |structure_requirement| %>
      <tr>
        <td>
          <%= structure_requirement.required_structure.name %>
        </td>
        <td>
          <%= structure_requirement.required_level%>
        </td>
        <td>
          <%= structure_requirement.restriction %>
        </td>
        <td>
          <%= link_to "Show", admin_structure_requirement_path(structure_requirement) %>
          <%= link_to "Edit", edit_admin_structure_requirement_path(structure_requirement) %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
