<div>
  <h1>Structures</h1>
</div>

<section>
  <%= render "import" %>
</section>

<section id="structures">
  <table>
    <thead>
      <tr>
        <% %w[name description season action].each do |column| %>
          <th>
            <%= t(".#{column}") %>
          </th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <%= link_to "New structure", new_admin_structure_path %>
        </td>
      </tr>
    <% @structures.each do |structure| %>
      <tr>
          <td>
            <%= structure.name %>
          </td>
          <td>
            <%= structure.description %>
          </td>
          <td>
            <%= structure.season&.name %>
          </td>
          <td>
            <%= link_to "Show", admin_structure_path(structure) %>
            <%= link_to "Edit", edit_admin_structure_path(structure) %>
          </td>
      </tr>
    <% end %>
    </tbody>
  </table>
</section>
