<h1 class="font-bold text-4xl">
  <%= t('.title') %>
</h1>

<div class="grid grid-cols-2 gap-4">
  <%= render partial: 'admin/structures/structure', locals: { structure: @structure } %>
  <div class="mx-auto w-full flex flex-row-reverse gap-8">
    <div>
      <%= button_to "Edit this structure", edit_admin_structure_path(@structure), method: :get, class: "secondary" %>
    </div>
    <div>
      <%= button_to "Destroy this structure", admin_structure_path(@structure), method: :delete, class: "rounded-lg py-3 px-5 bg-red-900 font-medium" %>
    </div>
    <div>
      <%= button_to "Back to structures", admin_structures_path, method: :get %>
    </div>
  </div>
  <%= render partial: 'admin/structures/structure_requirements', locals: { structure_requirements: @structure.structure_requirements } %>
  <%= render partial: 'admin/structures/structure_formulas', locals: { structure_formulas: @structure.structure_formulas } %>
  <%= render partial: 'admin/structures/structure_level_details', locals: { structure_level_details: @structure.structure_level_details } %>
</div>
