<div class="grid">
  <h1>
    <%= t('.title') %>
  </h1>
  <div role="group">
    <%= button_to "Edit this structure", edit_admin_structure_path(@structure), method: :get, class: "secondary" %>
    <%= button_to "Destroy this structure", admin_structure_path(@structure), method: :delete %>
    <%= button_to "Back to structures", admin_structures_path, method: :get, class: %w[contrast] %>
  </div>
</div>

<section class="container-fluid">
  <%= render partial: 'admin/structures/structure', locals: { structure: @structure } %>
</section>

<section class="grid">
  <%= render partial: 'admin/structures/structure_requirements', locals: { structure_requirements: @structure.structure_requirements } %>
  <%= render partial: 'admin/structures/structure_level_details', locals: { structure_level_details: @structure.structure_level_details } %>
</section>

<section>
  <%= render partial: 'admin/structures/structure_formulas', locals: { structure_formulas: @structure.structure_formulas } %>
</section>
