<div id="<%= dom_id idle_game_resource %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Idle game:</strong>
    <%= idle_game_resource.idle_game_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Resource:</strong>
    <%= idle_game_resource.resource_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Quantity:</strong>
    <%= idle_game_resource.quantity %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this idle game resource", admin_idle_game_resource_path(idle_game_resource), class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to "Edit this idle game resource", edit_admin_idle_game_resource_path(idle_game_resource), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
