<div class="mx-auto md:w-2/3 w-full flex">
  <div class="mx-auto">
    <% if notice.present? %>
      <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
    <% end %>

  <%= render partial: "admin/idle_game_resources/idle_game_resource", locals: { idle_game_resource: @idle_game_resource }%>

    <%= link_to "Edit this idle_game_resource", edit_admin_idle_game_resource_path(@idle_game_resource), class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <div class="inline-block ml-2">
      <%= button_to "Destroy this idle_game_resource", admin_idle_game_resource_path(@idle_game_resource), method: :delete, class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 font-medium" %>
    </div>
    <%= link_to "Back to idle_game_resources", admin_idle_game_resources_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
  </div>
</div>
