<%= form_with(model: [:admin, season]) do |form| %>
  <% if season.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(season.errors.count, "error") %> prohibited this season from being saved:</h2>

      <ul>
        <% season.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :speed %>
    <%= form.number_field :speed %>
  </div>

  <div>
    <%= form.label :active %>
    <%= form.check_box :active %>
  </div>

  <div>
    <%= form.label :old_season %>
    <%= form.select :old_season_id, Season.all.pluck(:name, :id), { include_blank: "Select a season to init data from it" } %>

  <div>
    <%= form.submit %>
  </div>
<% end %>
