<div>
  <div class="grid">
    <h1>Seasons</h1>
  </div>

  <div id="seasons">
    <table>
      <thead>
        <tr>
          <% %w[name speed active action].each do |column| %>
            <th>
              <%= t(".#{column}") %>
            </th>
          <% end %>
        </tr>
      </thead>
      <tbody>
      <tr>
        <td>
          <%= link_to "New season", new_admin_season_path %>
        </td>
      </tr>
      <% @seasons.each do |season| %>
        <tr>
          <td>
            <%= season.name %>
          </td>
          <td>
            <%= season.speed %>
          </td>
          <td>
            <%= season.active %>
          </td>
          <td>
            <%= link_to "Show", admin_season_path(season) %>
            <%= link_to "Edit", edit_admin_season_path(season) %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>
