<div class="grid">
  <h1>
    <%= t('.title') %>
  </h1>
    <div role="group">
      <%= button_to "Edit this season", edit_admin_season_path(@season), method: :get, class: "secondary" %>
      <%= button_to "Destroy this season", admin_season_path(@season), data: {turbo_method: :delete, turbo_confirm: 'Are you sure?' },  method: :delete %>
      <%= button_to "Back to seasons", admin_seasons_path, method: :get, class: "contrast" %>
  </div>
</div>

<section class="container-fluid">
  <%= render partial: 'admin/seasons/season', locals: { season: @season } %>
</section>
