<h1 class="font-bold text-4xl">
  <%= t('.title') %>
</h1>

<div class="grid grid-cols-2 gap-4">
  <%= render partial: 'admin/seasons/season', locals: { season: @season } %>
  <div class="mx-auto w-full flex flex-row-reverse gap-4">
    <div>
      <%= button_to "Edit this season", edit_admin_season_path(@season), class: "secondary" %>
    </div>
    <div>
      <%= button_to "Destroy this season", admin_season_path(@season), method: :delete, class: "rounded-lg py-3 px-5 bg-red-900 font-medium" %>
    </div>
    <div>
      <%= button_to "Back to seasons", admin_seasons_path %>
    </div>
  </div>
</div>
