<%= form_with(model: [:admin, structure_formula.becomes(StructureFormula)], class: "contents") do |form| %>
  <% if structure_formula.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(structure_formula.errors.count, "error") %> prohibited this structure_formula from being saved:</h2>

      <ul>
        <% structure_formula.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :structure_id %>
    <%= form.select :structure_id, Structure.all.pluck(:name, :id), { include_blank: "Select a structure" }, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :resource_id %>
    <%= form.select :resource_id, Resource.all.pluck(:name, :id) , { include_blank: "select a resource" }, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :category %>
    <%= form.select :category, %w[production cost storage duration] , { include_blank: "select a category" }, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :formula %>
    <%= form.select :formula, %w[Linear Exponential LinearPercentage] , { include_blank: "select a category" }, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <p>
    <code>
      Linear function is of the form intercept + slope * x
    </code>
    <br />
    <code>
      Exponential function is of the form base * multiplier^x + default
    </code>
    <code>
      Linear Percentage function is of the form before threshold intercept + slope * x, after threshold (until_treshold * multiplier) x times
    </code>
  </p>

  <div class="my-5">
    <%= form.label :intercept %>
    <%= form.number_field :intercept, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>
  <div class="my-5">
    <%= form.label :slope %>
    <%= form.number_field :slope, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>
  <div class="my-5">
    <%= form.label :base %>
    <%= form.number_field :base, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>
  <div class="my-5">
    <%= form.label :multiplier %>
    <%= form.number_field :multiplier, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>
  <div class="my-5">
    <%= form.label :default %>
    <%= form.number_field :default, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>
  <div class="my-5">
    <%= form.label :treshold %>
    <%= form.number_field :treshold, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="inline">
    <%= form.submit class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
