<%= form_with(model: [:admin, structure_formula.becomes(StructureFormula)]) do |form| %>
  <% if structure_formula.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(structure_formula.errors.count, "error") %> prohibited this structure_formula from being saved:</h2>

      <ul>
        <% structure_formula.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :structure_id %>
    <%= form.select :structure_id, Structure.all.pluck(:name, :id), { include_blank: "Select a structure" } %>
  </div>

  <div>
    <%= form.label :resource_id %>
    <%= form.select :resource_id, Resource.all.pluck(:name, :id) , { include_blank: "select a resource" } %>
  </div>

  <div>
    <%= form.label :category %>
    <%= form.select :category, %w[production cost storage duration] , { include_blank: "select a category" } %>
  </div>

  <div>
    <%= form.label :formula %>
    <%= form.select :formula, %w[Linear Exponential LinearPercentage] , { include_blank: "select a category" } %>
  </div>

  <p>
    <code>
      Linear function is of the form intercept + slope * x
    </code>
    <br />
    <code>
      Exponential function is of the form base * multiplier^x + default
    </code>
    <code>
      Linear Percentage function is of the form before threshold intercept + slope * x, after threshold (until_treshold * multiplier) x times
    </code>
  </p>

  <div>
    <%= form.label :intercept %>
    <%= form.number_field :intercept %>
  </div>
  <div>
    <%= form.label :slope %>
    <%= form.number_field :slope %>
  </div>
  <div>
    <%= form.label :base %>
    <%= form.number_field :base %>
  </div>
  <div>
    <%= form.label :multiplier %>
    <%= form.number_field :multiplier %>
  </div>
  <div>
    <%= form.label :default %>
    <%= form.number_field :default %>
  </div>
  <div>
    <%= form.label :treshold %>
    <%= form.number_field :treshold %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
