<h1 class="font-bold text-4xl">
  <%= t('.title') %>
</h1>

<div class="grid grid-cols-2 gap-4">
  <%= render partial: 'admin/structure_formulas/structure_formula', locals: { structure_formula: @structure_formula } %>
  <div class="mx-auto w-full flex flex-row-reverse gap-8">
    <div>
      <%= button_to "Edit this formula", edit_admin_structure_formula_path(@structure_formula), method: :get, class: "secondary" %>
    </div>
    <div>
      <%= button_to "Destroy this formula", admin_structure_formula_path(@structure_formula), method: :delete, class: "rounded-lg py-3 px-5 bg-red-900 font-medium" %>
    </div>
    <div>
      <%= button_to "Back to formulas", admin_structure_formulas_path, method: :get %>
    </div>
  </div>
</div>
