<div id="<%= dom_id structure_level_detail %>">
  <h2 class="font-bold text-2xl">
    <%= t('.title') %>
  </h2>
  <p class="my-5">
    <%= t('.structure', structure: structure_level_detail.structure.name).html_safe %>
  </p>
  <p class="my-5">
    <%= t('.level', level: structure_level_detail.level).html_safe %>
  </p>
  <p class="my-5">
    <%= t('.description', description: structure_level_detail.description).html_safe %>
  </p>
  <% if structure_level_detail.image.attached? %>
    <p class="my-5">
      <img class="h-12" src="<%= url_for(structure_level_detail.image) %>"/>
    </p>
  <% end %>
</div>
