<div>
  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl">Structure level details</h1>
  </div>

  <div>
    <%= render "import" %>
  </div>

  <div id="structure_level_details" class="min-w-full pt-4">
    <table class="border-collapse w-full text-sm shadow-sm">
      <thead>
        <tr>
          <% %w[structure level description action].each do |column| %>
            <th>
              <%= t(".#{column}") %>
            </th>
          <% end %>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <%= link_to "New structure level details", new_admin_structure_level_detail_path, class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium" %>
          </td>
        </tr>
      <% @structure_level_details.each do |structure_level_detail| %>
        <tr>
            <td>
              <%= structure_level_detail.structure.name %>
            </td>
            <td>
              <%= structure_level_detail.description %>
            </td>
            <td>
              <%= structure_level_detail.level %>
            </td>
            <td>
              <%= link_to "Show", admin_structure_level_detail_path(structure_level_detail), class: "rounded-lg py-1 px-2 inline-block font-medium" %>
              <%= link_to "Edit", edit_admin_structure_level_detail_path(structure_level_detail), class: "rounded-lg py-1 ml-2 px-2 inline-block font-medium" %>
            </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>
