<div class="grid">
  <h1>
    <%= t('.title') %>
  </h1>
  <div role="group">
    <%= button_to "Edit this level detail", edit_admin_structure_level_detail_path(@structure_level_detail), method: :get, class: %w[secondary] %>
    <%= button_to "Destroy this level detail", admin_structure_level_detail_path(@structure_level_detail), method: :delete %>
    <%= button_to "Back to level details", admin_structure_level_details_path, method: :get, class: %w[contrast] %>
  </div>
</div>

<section class="container-fluid">
  <%= render partial: 'admin/structure_level_details/structure_level_detail', locals: { structure_level_detail: @structure_level_detail } %>
</section>
