<div>
  <h1>Resources</h1>
</div>

<section>
  <%= render "import" %>
</section>

<section id="resources">
  <table>
    <thead>
      <tr>
        <% %w[name season action].each do |column| %>
          <th>
            <%= t(".#{column}") %>
          </th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <%= link_to "New resource", new_admin_resource_path %>
        </td>
      </tr>
    <% @resources.each do |resource| %>
      <tr>
          <td>
            <%= resource.name %>
          </td>
          <td>
            <%= resource.season&.name %>
          </td>
          <td>
            <%= link_to "Show", admin_resource_path(resource) %>
            <%= link_to "Edit", edit_admin_resource_path(resource) %>
          </td>
      </tr>
    <% end %>
    </tbody>
  </table>
</section>
