<div class="grid">
  <h1>
    <%= t('.title') %>
  </h1>
  <div role="group">
    <%= button_to "Edit this resource", edit_admin_resource_path(@resource), method: :get, class: %w[secondary] %>
    <%= button_to "Destroy this resource", admin_resource_path(@resource), method: :delete %>
    <%= button_to "Back to resources", admin_resources_path, method: :get, class: %w[contrast] %>
  </div>
</div>

<section class="container-fluid">
  <%= render partial: 'admin/resources/resource', locals: { resource: @resource } %>
</section>
