<%= form_with(model: idle_player_structure) do |form| %>
  <% if idle_player_structure.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(idle_player_structure.errors.count, "error") %> prohibited this idle_player_structure from being saved:</h2>

      <ul>
        <% idle_player_structure.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :structures_id, style: "display: block" %>
    <%= form.text_field :structures_id %>
  </div>

  <div>
    <%= form.label :idle_players_id, style: "display: block" %>
    <%= form.text_field :idle_players_id %>
  </div>

  <div>
    <%= form.label :level, style: "display: block" %>
    <%= form.number_field :level %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
