<%= form_with(model: [:admin, structure_requirement], class: "contents") do |form| %>
  <% if structure_requirement.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(structure_requirement.errors.count, "error") %> prohibited this structure_requirement from being saved:</h2>

      <ul>
        <% structure_requirement.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :structure_id %>
    <%= form.select :structure_id, Structure.all.pluck(:name, :id), { include_blank: "Select a structure" }, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :required_structure_id %>
    <%= form.select :required_structure_id, Structure.all.pluck(:name, :id), { include_blank: "Select a required structure" }, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :required_level %>
    <%= form.number_field :required_level, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="inline">
    <%= form.submit class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
