<%= form_with(model: [:admin, structure_requirement]) do |form| %>
  <% if structure_requirement.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(structure_requirement.errors.count, "error") %> prohibited this structure_requirement from being saved:</h2>

      <ul>
        <% structure_requirement.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :structure_id %>
    <%= form.select :structure_id, Structure.all.pluck(:name, :id), { include_blank: "Select a structure" } %>
  </div>

  <div>
    <%= form.label :required_structure_id %>
    <%= form.select :required_structure_id, Structure.all.pluck(:name, :id), { include_blank: "Select a required structure" } %>
  </div>

  <div>
    <%= form.label :required_level %>
    <%= form.number_field :required_level %>
  </div>

  <div>
    <%= form.label :restriction %>
    <%= form.select :restriction, %w[above below], { include_blank: "Select a restriction" } %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
