<div id="<%= dom_id structure_requirement %>">
  <p>
    <%= t('.structure', structure: structure_requirement.structure.name).html_safe %>
  </p>
  <p>
    <%= t('.required_structure', required_structure: structure_requirement.required_structure.name).html_safe %>
  </p>
  <p>
    <%= t('.required_level', required_level: structure_requirement.required_level).html_safe %>
  </p>
  <p>
    <%= t('.restriction', restriction: structure_requirement.restriction).html_safe %>
  </p>
</div>
