<div id="<%= dom_id structure_requirement %>">
  <h2 class="font-bold text-2xl">
    <%= t('.title') %>
  </h2>
  <p class="my-5">
    <%= t('.structure', structure: structure_requirement.structure.name).html_safe %>
  </p>
  <p class="my-5">
    <%= t('.required_structure', required_structure: structure_requirement.required_structure.name).html_safe %>
  </p>
  <p class="my-5">
    <%= t('.required_level', required_level: structure_requirement.required_level).html_safe %>
  </p>
  <p class="my-5">
    <%= t('.restriction', restriction: structure_requirement.restriction).html_safe %>
  </p>
</div>
