<div>
  <div>
    <h1>Structure requirements</h1>
  </div>

  <div>
    <%= render "import" %>
  </div>

  <div id="structure_requirements">
    <table>
      <thead>
        <tr>
          <% %w[structure required_structure required_level restriction action].each do |column| %>
            <th>
              <%= t(".#{column}") %>
            </th>
          <% end %>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <%= link_to "New structure requirement", new_admin_structure_requirement_path %>
          </td>
        </tr>
      <% @structure_requirements.each do |structure_requirement| %>
        <tr>
            <td>
              <%= structure_requirement.structure.name %>
            </td>
            <td>
              <%= structure_requirement.required_structure.name %>
            </td>
            <td>
              <%= structure_requirement.required_level %>
            </td>
            <td>
              <%= structure_requirement.restriction %>
            </td>
            <td>
              <%= link_to "Show", admin_structure_requirement_path(structure_requirement) %>
              <%= link_to "Edit", edit_admin_structure_requirement_path(structure_requirement) %>
            </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>
