<div class="grid">
  <h1>
    <%= t('.title') %>
  </h1>
  <div role="group">
    <%= button_to "Edit this requirement", edit_admin_structure_requirement_path(@structure_requirement), method: :get, class: %w[secondary] %>
    <%= button_to "Destroy this requirement", admin_structure_requirement_path(@structure_requirement), method: :delete %>
    <%= button_to "Back to requirements", admin_structure_requirements_path, method: :get, class: %w[contrast] %>
  </div>
</div>

<section class="container-fluid">
  <%= render partial: 'admin/structure_requirements/structure_requirement', locals: { structure_requirement: @structure_requirement } %>
</section>
