<div class="mx-auto w-full">
  <h1 class="font-bold text-4xl">
    <%= t('.title') %>
  </h1>
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <div class="grid grid-cols-2 gap-4">
    <%= render partial: 'admin/structure_requirements/structure_requirement', locals: { structure_requirement: @structure_requirement } %>
    <div class="mx-auto w-full flex flex-row-reverse gap-4">
      <div>
        <%= link_to "Edit this structure_requirement", edit_admin_structure_requirement_path(@structure_requirement), class: "mt-2 rounded-lg py-3 px-5 bg-orange-300 inline-block font-medium" %>
      </div>
      <div>
        <%= button_to "Destroy this structure_requirement", admin_structure_requirement_path(@structure_requirement), method: :delete, class: "mt-2 rounded-lg py-3 px-5 bg-red-300 font-medium" %>
      </div>
      <div>
        <%= link_to "Back to structure_requirements", admin_structure_requirements_path, class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
      </div>
    </div>
  </div>
</div>
