<div id="<%= dom_id user %>">
  <p>
    <%= t('.email', email: user.email).html_safe %>
  </p>

  <p>
    <%= t('.twitch', twitch_id: user.twitch_id).html_safe %>
  </p>

  <p>
    <%= t('.nickname', nickname: user.nickname).html_safe %>
  </p>

  <p>
    <%= t('.role', role: user.role).html_safe %>
  </p>
</div>
