<nav>
  <ul class="px-3">
    <li class="py-1">
      <%= link_to 'STREAM-DEFENSE', admin_root_path, class: %w[text-white text-2xl font-bold] %>
    </li>
    <li class="py-1">
      <%= link_to 'Utilisateurs', admin_users_path %> 
    </li>
    <li class="py-1">
      <%= link_to 'Chaînes', admin_channels_path %> 
    </li>
    <li class="py-1">
      <%= link_to 'Saisons', admin_seasons_path %> 
    </li>
    <li class="py-1">
      <%= link_to 'Games', admin_idle_games_path %> 
    </li>
  </ul>
  <ul>
    <li class="py-1">
      <%= button_to "Logout", destroy_user_session_path, method: :delete, class: %w[relative rounded-full bg-[#1F2336] p-1 text-gray-400 hover:text-white focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-800] %>
    </li>
  </ul>
</nav>
<nav class="second-nav">
  <ul class="px-3">
    <li class="py-3">
      <%= link_to 'Resources', admin_resources_path %> 
    </li>
    <li class="py-3">
      <%= link_to 'Structures', admin_structures_path %> 
    </li>
    <li class="py-3">
      <%= link_to 'StructureRequirements', admin_structure_requirements_path %> 
    </li>
    <li class="py-3">
      <%= link_to 'StructureFormulas', admin_structure_formulas_path %> 
    </li>
    <li class="py-3">
      <%= link_to 'StructureLevelDetails', admin_structure_level_details_path %> 
    </li>
  </ul>
</nav>
