<!DOCTYPE html>
<html>
  <head>
    <title>ServerStreamdefense</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="bg-slate-300">
    <% unless notice.nil? %>
      <div class="alert alert-notice">
        <%= notice %>
      </div>
    <% end %>
    <% unless alert.nil? %>
      <div class="alert alert-danger">
        <%= alert %>
      </div>
    <% end %>

    <%= render "layouts/admin_header" %>

    <div class="container p-4">
      <%= yield %>
    </div>
  </body>
</html>
