<!DOCTYPE html>
<html data-theme="dark">
  <head>
    <title>ServerStreamdefense</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= javascript_importmap_tags %>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.fluid.classless.min.css"
    />
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
  </head>

  <body>
    <header>
      <%= render "layouts/admin_header" %>
    </header>

    <main>
      <%= yield %>
    </main>

    <footer>
      <%= render "layouts/admin_footer" %>
  </body>
</html>
