<!DOCTYPE html>
<html data-theme="dark">
  <head>
    <title>ServerStreamdefense</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= javascript_importmap_tags %>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.orange.min.css"
    />
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
  </head>

  <body>
    <header class="py-0">
      <%= render "layouts/admin_header" %>
    </header>

    <main class="px-8">
      <% unless notice.nil? %>
        <div class="alert alert-notice">
          <%= notice %>
        </div>
      <% end %>
      <% unless alert.nil? %>
        <div class="alert alert-danger">
          <%= alert %>
        </div>
      <% end %>

      <%= yield %>
    </main>

    <footer class="px-8">
      <%= render "layouts/admin_footer" %>
  </body>
</html>
